In [1]:
import pandas as pd
from tqdm import tqdm
import pickle as pkl
import numpy as np
from sklearn.preprocessing import StandardScaler
from tqdm import tqdm
import torch

In [4]:
a = np.array([-np.inf, -np.inf, -np.inf])

In [7]:
np.where(a == -np.inf)

(array([0, 1, 2]),)

In [35]:
# with open("id2key.pkl", "rb") as fp:
#     idmaps = pkl.load(fp)

In [36]:
# datapath = "datashare/datashare.csv"
# datapath = "./Modules/dataset.csv"
month_ret_path = "data/month_ret.pkl"

# df = pd.read_csv(datapath)
with open(month_ret_path, "rb") as fp:
    ret = pkl.load(fp)

datapath = "data/datashare.pkl"
with open(datapath, "rb") as fp:
    data = pkl.load(fp)

# df = df.fillna(0)
# df = df.dropna()

/tmp/ipykernel_13602/2015645238.py:7: DeprecationWarning: numpy.core.numeric is deprecated and has been renamed to numpy._core.numeric. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.numeric._frombuffer.
  ret = pkl.load(fp)
/tmp/ipykernel_13602/2015645238.py:11: DeprecationWarning: numpy.core.numeric is deprecated and has been renamed to numpy._core.numeric. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.numeric._frombuffer.
  data = pkl.load(fp)

In [8]:
ret.isna().sum()

permno    0
date      0
month     0
ret-rf    0
dtype: int64

In [37]:
ret = ret[ret.date <= 19701231]

In [38]:
data = data[data.DATE <= 19701231]

In [39]:
data.shape

(290172, 97)

In [40]:
ret.shape

(291634, 4)

In [4]:
# months = list(set(list(df.DATE)))

# dfs = []

# for month in tqdm(months, total = len(months)):
#     df_temp = df[df.DATE == month]
#     medians = df_temp.median()
#     df_temp.fillna(medians, inplace = True)
#     dfs.append(df_temp)

# df = pd.concat(dfs) 

# df.to_csv("dataset.csv", index = False)

In [5]:
### Experimentals
with open("data_stat.txt", "w") as fp:

    cols = list(df.columns)

    for col in cols:
        fp.write(f"{col} --nans--> {df[col].isna().sum()}\n")

In [7]:
df = df.dropna()

In [16]:
data.head()

,permno,DATE,mvel1,beta,betasq,chmom,dolvol,idiovol,indmom,mom1m,...,stdcf,ms,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,sic2
0,10006,19570329,86308.500,1.117907,1.249717,0.134574,10.296745,0.024863,0.05954,0.002016,...,NaN,NaN,0.013856,1.557681e-07,0.029167,0.013546,0.914592,0.802461,1.066005e-07,37.0
1,10014,19570329,3903.375,0.331304,0.109762,0.006667,7.032404,0.065248,0.05954,-0.086957,...,NaN,NaN,0.031389,8.383815e-06,0.071429,0.031165,0.943409,0.716406,1.105263e+00,NaN
2,10022,19570329,9841.000,0.942052,0.887461,0.058761,7.294038,0.029338,0.05954,-0.037037,...,NaN,NaN,0.010066,5.360386e-06,0.020000,0.016886,0.993558,0.534808,2.387797e-07,NaN
3,10030,19570329,51901.000,0.886532,0.785940,-0.032065,9.516942,0.022007,0.05954,0.000000,...,NaN,NaN,0.009523,1.090908e-07,0.017857,0.009104,0.736000,0.712647,9.202902e-08,NaN
4,10057,19570329,35250.000,1.229520,1.511719,-0.102811,8.421013,0.025453,0.05954,-0.030717,...,NaN,NaN,0.007661,2.386914e-07,0.007194,0.006748,0.889503,0.775954,6.631579e+00,NaN

In [9]:
months = list(df.DATE)
months = [int(str(m)[:6]) for m in months]

In [24]:
data = data.rename(columns = {"DATE" : "date"})

In [25]:
df = pd.merge(data, ret, how = "inner", on=['permno', 'date'])

In [26]:
df = df.drop(['permno','date','sic2', 'month'], axis = 1)

In [27]:
df.head()

,mvel1,beta,betasq,chmom,dolvol,idiovol,indmom,mom1m,mom6m,mom12m,...,stdcf,ms,baspread,ill,maxret,retvol,std_dolvol,std_turn,zerotrade,ret-rf
0,86308.500,1.117907,1.249717,0.134574,10.296745,0.024863,0.05954,0.002016,0.081150,0.025747,...,NaN,NaN,0.013856,1.557681e-07,0.029167,0.013546,0.914592,0.802461,1.066005e-07,1.6105
1,3903.375,0.331304,0.109762,0.006667,7.032404,0.065248,0.05954,-0.086957,-0.080000,-0.233333,...,NaN,NaN,0.031389,8.383815e-06,0.071429,0.031165,0.943409,0.716406,1.105263e+00,-0.2300
2,9841.000,0.942052,0.887461,0.058761,7.294038,0.029338,0.05954,-0.037037,-0.005452,-0.105949,...,NaN,NaN,0.010066,5.360386e-06,0.020000,0.016886,0.993558,0.534808,2.387797e-07,-0.6146
3,51901.000,0.886532,0.785940,-0.032065,9.516942,0.022007,0.05954,0.000000,0.033590,0.101451,...,NaN,NaN,0.009523,1.090908e-07,0.017857,0.009104,0.736000,0.712647,9.202902e-08,7.5607
4,35250.000,1.229520,1.511719,-0.102811,8.421013,0.025453,0.05954,-0.030717,0.048778,0.173976,...,NaN,NaN,0.007661,2.386914e-07,0.007194,0.006748,0.889503,0.775954,6.631579e+00,-2.0030

In [28]:
df.shape

(835309, 95)

In [29]:
y = df["ret-rf"].values

In [31]:
y.shape

(835309,)

In [32]:
X = df[[l for l in df.columns if l != "ret-rf"]].values

In [33]:
X.shape

(835309, 94)

In [14]:
### Rank Normalization

# normed_columns = list(df.columns)
# normed_columns.remove('permno')
# normed_columns.remove('month')

# for col in normed_columns:
#     df[col] = df.rank(pct = True)
#     df[col] = 2*df[col] - 1

In [15]:
normed_columns = list(df.columns)
normed_columns.remove('permno')
normed_columns.remove('month')
# normed_columns.remove('ret-rf')

df[normed_columns] = StandardScaler().fit_transform(df[normed_columns])

In [23]:
#### Before Removing Nans ####

# df_train = df[(df['month'] >= 195700) & (df['month'] <= 197412)]
# df_valid = df[(df['month'] >= 197500) & (df['month'] <= 198612)]
# df_test = df[df['month'] >= 198700]

In [25]:
#### After Removing Nans ####
df_train = df[(df['month'] >= 198500) & (df['month'] <= 200212)]
df_valid = df[(df['month'] >= 200300) & (df['month'] <= 200612)]
df_test = df[df['month'] >= 200700]


# df_train = df[(df['month'] >= 198500) & (df['month'] <= 199512)]
# df_valid = df[(df['month'] >= 199600) & (df['month'] <= 199912)]
# df_test = df[df['month'] >= 200000]

In [35]:
def make_data(df):
    characs = {}
    dates = list(df.month.unique())

    for dt in dates:
        df_date = df[df.month == dt]
        df_date = df_date.drop('month', axis = 1)
        ids = list(df_date['permno'])
        df_date = df_date.drop('permno', axis = 1)
        y = np.array(list(df_date['ret-rf']))
        df_date = df_date.drop('ret-rf', axis = 1)
        df_date.fillna(-1000)
        characs[dt] = {
            "ids": np.array(ids),
            "characs" : df_date.to_numpy(),
            "returns" : y
        }
    return characs

In [36]:
x_train = make_data(df_train)
x_valid = make_data(df_valid)
x_test = make_data(df_test)

In [37]:
with open("x_train.pkl", "wb") as fp:
    pkl.dump(x_train, fp)

# with open("y_train.pkl", "wb") as fp:
#     pkl.dump(y_train, fp)

with open("x_test.pkl", "wb") as fp:
    pkl.dump(x_test, fp)

# with open("y_test.pkl", "wb") as fp:
#     pkl.dump(y_test, fp)

with open("x_valid.pkl", "wb") as fp:
    pkl.dump(x_valid, fp)

# with open("y_valid.pkl", "wb") as fp:
#     pkl.dump(y_valid, fp)

In [16]:
dataset_path = "x_test.pkl"

import pickle as pkl

with open(dataset_path, "rb") as fp:
    data = pkl.load(fp)

In [17]:
data[198702]['characs'].shape

(6655, 94)

In [19]:
data[198702]['ids'].shape

(6655,)

In [23]:
import torch

d = torch.from_numpy(data[198702]['ids']).unsqueeze(dim = 0)

In [24]:
d.shape

torch.Size([1, 6655])

In [8]:
import torch
import numpy as np

In [10]:
x = torch.tensor(data[198701]['characs'], device = "cuda", dtype = torch.float32)

In [11]:
x.shape

torch.Size([6600, 94])

In [24]:
df_train

Empty DataFrame
Columns: [permno, mvel1, beta, betasq, chmom, dolvol, idiovol, indmom, mom1m, mom6m, mom12m, mom36m, pricedelay, turn, absacc, acc, age, agr, bm, bm_ia, cashdebt, cashpr, cfp, cfp_ia, chatoia, chcsho, chempia, chinv, chpmia, convind, currat, depr, divi, divo, dy, egr, ep, gma, grcapx, grltnoa, herf, hire, invest, lev, lgr, mve_ia, operprof, orgcap, pchcapx_ia, pchcurrat, pchdepr, pchgm_pchsale, pchquick, pchsale_pchinvt, pchsale_pchrect, pchsale_pchxsga, pchsaleinv, pctacc, ps, quick, rd, rd_mve, rd_sale, realestate, roic, salecash, saleinv, salerec, secured, securedind, sgr, sin, sp, tang, tb, aeavol, cash, chtx, cinvest, ear, nincr, roaq, roavol, roeq, rsup, stdacc, stdcf, ms, baspread, ill, maxret, retvol, std_dolvol, std_turn, zerotrade, month, ret-rf]
Index: []

[0 rows x 97 columns]

In [32]:
x = list(df.month.unique())

In [33]:
x.sort()

In [34]:
x

[198501,
 198502,
 198503,
 198504,
 198505,
 198506,
 198507,
 198508,
 198509,
 198510,
 198511,
 198512,
 198601,
 198602,
 198603,
 198604,
 198605,
 198606,
 198607,
 198608,
 198609,
 198610,
 198611,
 198612,
 198701,
 198702,
 198703,
 198704,
 198705,
 198706,
 198707,
 198708,
 198709,
 198710,
 198711,
 198712,
 198801,
 198802,
 198803,
 198804,
 198805,
 198806,
 198807,
 198808,
 198809,
 198810,
 198811,
 198812,
 198901,
 198902,
 198903,
 198904,
 198905,
 198906,
 198907,
 198908,
 198909,
 198910,
 198911,
 198912,
 199001,
 199002,
 199003,
 199004,
 199005,
 199006,
 199007,
 199008,
 199009,
 199010,
 199011,
 199012,
 199101,
 199102,
 199103,
 199104,
 199105,
 199106,
 199107,
 199108,
 199109,
 199110,
 199111,
 199112,
 199201,
 199202,
 199203,
 199204,
 199205,
 199206,
 199207,
 199208,
 199209,
 199210,
 199211,
 199212,
 199301,
 199302,
 199303,
 199304,
 199305,
 199306,
 199307,
 199308,
 199309,
 199310,
 199311,
 199312,
 199401,
 199402,
 199403,
 199404,
 199405,
 199406,
 199407,
 199408,
 199409,
 199410,
 199411,
 199412,
 199501,
 199502,
 199503,
 199504,
 199505,
 199506,
 199507,
 199508,
 199509,
 199510,
 199511,
 199512,
 199601,
 199602,
 199603,
 199604,
 199605,
 199606,
 199607,
 199608,
 199609,
 199610,
 199611,
 199612,
 199701,
 199702,
 199703,
 199704,
 199705,
 199706,
 199707,
 199708,
 199709,
 199710,
 199711,
 199712,
 199801,
 199802,
 199803,
 199804,
 199805,
 199806,
 199807,
 199808,
 199809,
 199810,
 199811,
 199812,
 199901,
 199902,
 199903,
 199904,
 199905,
 199906,
 199907,
 199908,
 199909,
 199910,
 199911,
 199912,
 200001,
 200002,
 200003,
 200004,
 200005,
 200006,
 200007,
 200008,
 200009,
 200010,
 200011,
 200012,
 200101,
 200102,
 200103,
 200104,
 200105,
 200106,
 200107,
 200108,
 200109,
 200110,
 200111,
 200112,
 200201,
 200202,
 200203,
 200204,
 200205,
 200206,
 200207,
 200208,
 200209,
 200210,
 200211,
 200212,
 200301,
 200302,
 200303,
 200304,
 200305,
 200306,
 200307,
 200308,
 200309,
 200310,
 200311,
 200312,
 200401,
 200402,
 200403,
 200404,
 200405,
 200406,
 200407,
 200408,
 200409,
 200410,
 200411,
 200412,
 200501,
 200502,
 200503,
 200504,
 200505,
 200506,
 200507,
 200508,
 200509,
 200510,
 200511,
 200512,
 200601,
 200602,
 200603,
 200604,
 200605,
 200606,
 200607,
 200608,
 200609,
 200610,
 200611,
 200612,
 200701,
 200702,
 200703,
 200704,
 200705,
 200706,
 200707,
 200708,
 200709,
 200710,
 200711,
 200712,
 200801,
 200802,
 200803,
 200804,
 200805,
 200806,
 200807,
 200808,
 200809,
 200810,
 200811,
 200812,
 200901,
 200902,
 200903,
 200904,
 200905,
 200906,
 200907,
 200908,
 200909,
 200910,
 200911,
 200912,
 201001,
 201002,
 201003,
 201004,
 201005,
 201006,
 201007,
 201008,
 201009,
 201010,
 201011,
 201012,
 201101,
 201102,
 201103,
 201104,
 201105,
 201106,
 201107,
 201108,
 201109,
 201110,
 201111,
 201112,
 201201,
 201202,
 201203,
 201204,
 201205,
 201206,
 201207,
 201208,
 201209,
 201210,
 201211,
 201212,
 201301,
 201302,
 201303,
 201304,
 201305,
 201306,
 201307,
 201308,
 201309,
 201310,
 201311,
 201312,
 201401,
 201402,
 201403,
 201404,
 201405,
 201406,
 201407,
 201408,
 201409,
 201410,
 201411,
 201412,
 201501,
 201502,
 201503,
 201504,
 201505,
 201506,
 201507,
 201508,
 201509,
 201510,
 201511,
 201512,
 201601,
 201602,
 201603,
 201604,
 201605,
 201606,
 201607,
 201608,
 201609,
 201610,
 201611,
 201612]